/* Main CSS file or a separate CSS file */
.ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.75); /* Dark background overlay */
  }
  
  .ReactModal__Content {
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the modal */
    background: white; /* Solid white background for the modal */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional: shadow for depth */
  }
  